<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    {{>header}}
    
       <p>This site was created by Felix Willem. It uses data from mapbox.com and Weathersky.com!</p>
      <img src="img/profile.jpg" class="portrait"/>
    </div>
    {{>footer}}
  </body>
</html>